* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --center-text: center;
  }
  
  body {
    background-color: #1d1d9b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0a0a26;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 10px;
  }
  
  h1 {
    color: white;
    width: 100%;
    max-width: 480px;
    margin: 15px 0;
    text-align: var(--center-text);
  }

  label {
    margin: 10px auto 5px;
  }
  
  #user-input {
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: var(--center-text);
    width: 90%;
    height: 42px;
    font-size: 16px;
  }
  
  .btn-styles {
    cursor: pointer;
    width: 200px;
    margin: 20px;
    color: #0a0a23;
    font-size: 20px;
    background-color: #f8f4f4;
    background-image: linear-gradient(#f9f9f9, #928d86);
    border-color: #ffffff;
    border-width: 6px;
  }
  
  #results-div {
    overflow-y: auto;
    height: 265px;
    width: 100%;
  }
  
  .results-text {
    font-size: 1.8rem;
    padding: 5px;
    text-align: var(--center-text);
    margin: 15px 0;
  }
  